<div>Age: {{biometrics.age}}</div>
<div>Gender: {{biometrics.gender}}</div>
<div>Height: {{biometrics.height}}</div>
<div>Weight: {{biometrics.weight}}</div>
<div>Activity Level: {{macros.activityLevel}}</div>
<div>Protein Ratio: {{macros.proteinRatio}}</div>
<div>Fat Ratio: {{macros.fatRatio}}</div>

<div>Protein Grams: {{macroCalculation.protein.grams}}</div>
<div>Protein Calories: {{macroCalculation.protein.calories}}</div>
<div>Carb Grams: {{macroCalculation.carb.grams}}</div>
<div>Carb Calories: {{macroCalculation.carb.calories}}</div>
<div>Fat Grams: {{macroCalculation.fat.grams}}</div>
<div>Fat Calories: {{macroCalculation.fat.calories}}</div>

