<form [formGroup]="biometricsForm" (ngSubmit)="onSubmit()">
  <div>
    <label>
      Gender
      <input id="gender" type="text" formControlName="gender" />
    </label>
  </div>
  <div>
    <label>
      Age
      <input id="age" type="number" formControlName="age" />
    </label>
  </div>
  <div>
    <label>
      Weight
      <input matInput id="weight" type="number" formControlName="weight" />
    </label>
  </div>
  <div>
    <label>
      Height
      <input id="height" type="number" formControlName="height" />
    </label>
  </div>

  <button class="button" type="submit">Update</button>
</form>
