<form [formGroup]="calculatorForm" (ngSubmit)="onSubmit()">
<div>
    <label>
      Activity Level
      <input id="activityLevel" type="text" formControlName="activityLevel" />
    </label>
  </div>
  <div>
    <label>
      Fat Ratio
      <input id="fatRatio" type="text" formControlName="fatRatio" />
    </label>
  </div>
  <div>
    <label>
      Protein Ratio
      <input id="proteinRatio" type="text" formControlName="proteinRatio" />
    </label>
  </div>

  <button class="button" type="submit">Update</button>
</form>
